body {
  font-size: 22px;
}

.instructions {
  align-items: center;
  text-align: center;
  width: 20vw;
}

footer {
  margin-top: 25vh;
}

.form-control-input {
  font-size: 22px;
}

#difficulty {
  font-size: 22px;
}
